.footer {
  padding: 50px 0px;
  background: #eeeaff;
  margin-top: 50px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.footer__box {
  width: 30%;
}
.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.logo__img {
  background: var(--bg-gradient);
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img img {
  width: 100%;
}

.footer_logo h2 {
  color: var(--heading-color);
  font-weight: 700 !important;
  font-size: 1.8rem;
}

.footer__box p {
  color: var(--heading-color);
  line-height: 28px;
  margin-top: 20px;
}

.footer__title {
  font-size: 1.2rem;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.footer__link li {
  line-height: 28px;
}

.footer__link li a {
  color: var(--heading-color);
  cursor: pointer;
}

.footer__link li a:hover {
  color: var(--primary-color);
}

.copyright {
  margin-top: 35px;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}

@media (max-width:768px) {

  .footer{
    /* margin-top: 10rem; */
    width: 100%;
    background: none;
    border-top: 1px solid  #eeeaff;;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2rem;
  }
  .footer__box {
    text-align: center;
    border: .1rem solid var(--heading-color);
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
  }
  .footer__logo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    column-gap: .4rem;
  }
  
}
@media (max-width:575px) {


  
  .footer__box {
    text-align: center;
    border: none;
    padding: 1rem;
    margin: 1rem;
    width: 90%;
  }
  .footer {
    padding-bottom: 20px;
  }

  
}